.md-grid {
    max-width: 1500px;
}

.md-typeset {
    font-size: .7rem;
    line-height: 1.8;
}

h1, h2, h3, h4 {
    font-weight: blod !important;
}

.footer {
    height: 60px; /* 设置页脚高度为100像素 */
    /* 其他页脚样式属性 */
}